html {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
}

.piston {
  display: flex;
  width: 100%;
}

.piston-container {
  display: flex;
  flex-grow: 1;
}

.cylinder-identifier {
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
}

.intake, .compression, .power, .exhaust {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.intake {
  background-color: #24AFEF;
}

.compression {
  background-color: #2EB150;
}

.power {
  background-color: #F90F00;
}

.exhaust {
  background-color: #974808;
}

.cyl-input-format {
  width: 1rem;
}

#cyl-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.firing-order {
  display: flex
}

.sync-cyl {
  color: #F90F00;
}

label {
  margin-right: 0.5rem
}

label, input, select, button {
  margin-right: 0.25rem;
  text-align: center;
}

button {
  background-color: #3f75ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #3fbaff;
}

select, input {
  border-radius: 5px;
  border: 3px solid #3f75ff;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.form-group label {
  color: #5b5b5b;
  font-size: .75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}